/* @import url('https://fonts.googleapis.com/css2?family=Advent+Pro&family=Orbitron&family=Ubuntu&display=swap'); */

*{
	cursor: default;
	box-sizing: border-box;
}


nav{
	padding: 1em 0;
}
nav  button{
	/* margin-right: 1em; */
	margin-left: 1em;
}
.container {
	/* height: 90.6vh; */
	display: flex;
	/* flex-basis: autod; */
	align-items: center;
	justify-content: center;
	flex-direction: column;
	/* padding: 5%;     */
}
table{
	border-collapse: separate !important;
	/* max-width: fit-content;
	max-height: fit-content; */
	/* table-layout: fixed; */
}
table td {
	width: 100px;
	height: 100px;
	text-align: center;
}

.cell{
	border-radius: 8%;
	background-color: #1f242b;
}

.cell:hover{
	border: 3px solid #c6ac00;
}


.info{
	color: #ffc720;
	font-size: large;
	/* letter-spacing: 2px; */
}

.digits{
	/* font-family: "Advent"; */
	font-size: large;
}

.container-info{
	padding: 0%;
}

.maxit-help{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.result{
	padding : 2%;
}











